h1, h2 {
    margin: 0;
}

.current {
    font-size: 30px;
}

.winner {
    font-size: 25px;
    margin-bottom: .75rem;
}

.btn {
    margin: .5rem 0 1rem 0;
}

.board {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 0px;
    justify-content: center;
}
  
.square {
    border: 1px gray solid;
    height: 150px;
}

@media screen and (max-width: 600px) {
    .board {
        grid-template-columns: repeat(3, 100px);
    }

    .square {
        height: 100px;
    }
}